<app-modal-create-board *ngIf="ModalIsOpen"  (onCreate)="createBoards($event)"></app-modal-create-board>
<div class="content" role="main">

  <div class="head">
    <span class="headtext">Photo Board</span>
  </div>

 
  <div class="nav-menu">
    <div class="menu-side-block">
      <label>Add image to the board</label>
      <div class="form">
        <input [(ngModel)]="model.lastImageUrl"/>
        <button class="blueBut" (click)="model.AddImage()">Add</button>
      </div>
    </div>
    <div class="menu-side-block">
      <label>Selectan existing board</label>
      <div class="form">
        <select [ngModel]="model" (ngModelChange)="onChange($event)">
          <option [ngValue]="i" *ngFor="let i of boards">{{i.boardName}}</option>
      </select>
        <button class="whiteBut" (click)="openModal()">Create a new board</button>
      </div>
    </div>
  </div>
  <div class="cards-container row">
    <div *ngFor="let image of model.getAllImages()" class="card col-7">
      <img [src]="image" />
    </div>

  </div>
  <div class="card-container-menu">
    <div class="container-button">
      <button class="whiteBut" [ngClass]="{ 'disabled' : model.isChanges }" [disabled]="!model.isChanges" (click)="model.DiscardChanges()">Dismiss Changes</button>
      <button class="blueBut" [ngClass]="{ 'disabled' : model.isChanges }" [disabled]="!model.isChanges"(click)="model.SaveBoard()">Save Board</button>
    </div>
  </div>
</div>