<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #7f7f7f;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .flex {
    display: flex;
  }

  .fldir-cm {
    flex-direction: column;
  }


  .content {
    margin: 60px auto 32px;
    padding: 0 16px;
    padding-left: 35px;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 16px;
  }

  .left-imput {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  .cards-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 55px;
  }

  .card {
    margin: 0 35px 52px -1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card img {
    height: 115px;
    width: 205px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card-container input,
  button {
    border-radius: 4px;
  }

  .button {
    padding: .375rem 2rem;
    margin-left: 35px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    background-color: rgb(37, 142, 212);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .button-white {
    padding: 5px 10px;
    margin-left: 35px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 118, 189);
    color: rgb(13, 118, 189);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .button:hover {
    background-color: rgb(13, 118, 189);
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>
<img src="assets/index.png" id="psd">
<app-modal-create-board *ngIf="ModalIsOpen"  (onCreate)="createBoards($event)"></app-modal-create-board>
<div class="content" role="main">

  <div class="head">
    <span class="headtext">Photo Board</span>
  </div>

  <!-- <div class="card-container">
    <div class="left-imput fldir-cm">
      <label for="imagelink">Add image to the board</label>
      <div class="flex">
        <input type="text" name="imagelink" [(ngModel)]="newImageUrl">
        <button class="button" (click)="addUrlImages()"> Add</button>
      </div>


    </div>
    <div class="menu-select">
      <label for="exbor">Selectan existing board</label>
      <div class="flex">
        <select class="select-board" name="exbor">
          <option class="" value="Safari">Safari</option>
        </select>
        <button class="button-white">Create a new board</button>
      </div>
    </div>

  </div> -->
  <div class="nav-menu">
    <div class="menu-side-block">
      <label>Add image to the board</label>
      <div class="form">
        <input [(ngModel)]="model.lastImageUrl"/>
        <button class="blueBut" (click)="model.AddImage()">Add</button>
      </div>
    </div>
    <div class="menu-side-block">
      <label>Selectan existing board</label>
      <div class="form">
        <select [ngModel]="model" (ngModelChange)="onChange($event)">
          <option [ngValue]="i" *ngFor="let i of boards">{{i.boardName}}</option>
      </select>
        <button class="whiteBut" (click)="openModal()">Create a new board</button>
      </div>
    </div>
  </div>
  <div class="cards-container row">
    <div *ngFor="let image of model.getAllImages()" class="card col-7">
      <img [src]="image" />
    </div>

  </div>
  <div class="card-container-menu">
    <div class="container-button">
      <button class="whiteBut" [ngClass]="{ 'disabled' : model.isChanges }" [disabled]="!model.isChanges" (click)="model.DiscardChanges()">Dismiss Changes</button>
      <button class="blueBut" [ngClass]="{ 'disabled' : model.isChanges }" [disabled]="!model.isChanges"(click)="model.SaveBoard()">Save Board</button>
    </div>
  </div>
</div>